.m-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: calc(100vw - 210px);
  position: fixed;
  bottom: 15px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 60px;
  box-sizing: border-box;
}

.m-pagination .right-inner {
  height: 32px;
  background-color: #ffffff;
  padding: 12px 8px;
  box-sizing: border-box;
  border-radius: 4px;
}
